@use './variables.scss';
@use './theme.scss';

:root {
  scrollbar-width: thin;

  view-transition-name: root;
  /* 引入主题样式 */
  // &[data-theme='light'] {
  @include appLightTheme();
  // }

  // &[data-theme='dark'] {
  //     /* 引入深色主题样式 */
  // @include appDarkTheme();
  // }

  /* 布局宽高 */
  --header-height: 57px;
  --g-layout-gap: 24px;
}

/* 颜色 */
:root {
  --g-solid-border: 1px solid#f2f2f2;
}


$g-content-max-width: 728px;

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  user-select: none;
  color: var(--text-color);
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;


}
body:focus-visible {
  outline: none;
}