@use './variables.scss';
@use './theme.scss';

:root {
  scrollbar-width: thin;

  view-transition-name: root;
  /* 引入主题样式 */
  // &[data-theme='light'] {
  @include appLightTheme();
  // }

  // &[data-theme='dark'] {
  //     /* 引入深色主题样式 */
  // @include appDarkTheme();
  // }

  /* 布局宽高 */
  --header-height: 57px;
  --content-max-width: 680;
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  user-select: none;
  color: var(--text-color);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  @media screen and (max-width: 768px) {
    font-size: 14px;
  }

  @media screen and (min-width: 769px) {
    font-size: 18px;
  }
}
body:focus-visible {
  outline: none;
}