@use './variables.scss';
@use './theme.scss';

:root {
  scrollbar-width: thin;
    
    /* 引入主题样式 */
    // &[data-theme='light'] {
      @include appLightTheme();
    // }

    // &[data-theme='dark'] {
    //     /* 引入深色主题样式 */
        // @include appDarkTheme();
    // }
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--body-bg);
  user-select: none;
  color: var(--text-color);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  @media screen and (max-width: 768px){
    font-size: 14px;
  }
  @media screen and (min-width: 769px){
    font-size: 18px;
  }
    
}


