/// @name theme

@mixin css-var(
  $theme-text,
  $theme-bg,
  ) {
    #{--text-color}: $theme-text;
    #{--body-bg}: $theme-bg;
    #{--header-bg}: rgba(lighten($theme-bg, 10%), 0.6);
    #{--module-bg}: darken($theme-bg, 10%);
    #{--module-bg-light}: darken($theme-bg, 2%);
 
}

@mixin appLightTheme() {
  @include css-var(
    $theme-text: rgba(#000, 0.8), 
    $theme-bg: #fff,
    // $theme-header-bg: rgba(#e3e3e3, 0.9),
  );
}

@mixin appDarkTheme() {
  @include css-var(
    $theme-text: #f0f0f0,
    $theme-bg: #000,
    // $theme-header-bg: rgba(#000, 0.8),
  );
}