@use 'sass:math';

// 定义变量$body-bg，并将其设置为var(--body-bg)的值
$body-bg: var(--body-bg);

$header-bg: var(--header-bg);

// 设置header的高度为64像素
$borderRadius: var(--el-border-radius-base);//4px

//弱化显示的文字颜色，用于文章信息等。
$text-color-weak: var(--el-text-color-secondary);//#919191


//页面布局相关变量
$margin-default: 8px;


//颜色

